<section class="content-header">
  <h1>Home#show</h1>
</section>
<section class="content" ng-controller="HomeController as vm">
  <div id="game_select" ng-if="vm.all_games" class="form-group">
    <label>Display Game #</label>
    <select class="form-control" ng-model="vm.game" ng-options="g.id for g in vm.all_games track by g.id"></select>
  </div>
  <div ng-if="vm.game" id="player_select">
    <!--<p>{{ vm.game }}</p>-->
    <label>Display Player</label>
    <select class="form-control" ng-model="vm.player" ng-options="p.user.name for p in vm.game.players track by p.id"></select>
  </div>
  <div ng-if="vm.player" id="player_display">
    <p ng-if="vm.player.color">Private Goal Color: {{ vm.player.color }}</p>
    <table>
      <tr ng-repeat="row in vm.player.board">
        <td ng-repeat="cell in row" class="cell {{ cell.color }} {{ cell.occupied | occupied }}">{{ cell.pip || "&nbsp;" }}</td>
      </tr>
    </table>
  </div>
  <div ng-if="false">
    <div class="dice one">
      <div class="pips">
        <div class="pip"></div>
        <div class="pip"></div>
        <div class="pip"></div>
        <div class="pip"></div>
        <div class="pip"></div>
        <div class="pip"></div>
      </div>
      <div class="shapes">
        <div class="poly"></div>
        <div class="poly"></div>
        <div class="poly"></div>
        <div class="poly"></div>
        <div class="poly"></div>
        <div class="poly"></div>
      </div>
    </div>
  </div>
</section>